#banner{
    background-color:rgb(109, 62, 5);
    height:200px;
    text-align: center;
    font-family:arial;
}
body
{
    background-color:burlywood;
    font-family: arial;
}

h1{
    margin: 0px;
    line-height: 200px;
    font-size: 18px;
}
#navBar{
    text-align:;
}

a{
    color: blue;
    text-decoration: underline;
}
a:hover{
    color:#00000;
    text: .decoration:none;
}
p{
    font-size: 16px;
}